@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 68% 81%; /* wheat */
    --foreground: 202 77% 7%; /* rich-black */
    --card: 38 68% 85%; /* slightly lighter wheat */
    --card-foreground: 202 77% 7%;
    --popover: 38 68% 85%;
    --popover-foreground: 202 77% 7%;
    --primary: 175 41% 16%; /* dark-slate-gray */
    --primary-foreground: 38 68% 81%; /* wheat */
    --secondary: 38 68% 75%; /* darker wheat */
    --secondary-foreground: 175 41% 16%; /* dark-slate-gray */
    --muted: 38 68% 78%;
    --muted-foreground: 175 41% 26%;
    --accent: 22 100% 38%; /* mahogany */
    --accent-foreground: 38 68% 81%; /* wheat */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 38 68% 71%;
    --input: 38 68% 73%;
    --ring: 22 100% 38%; /* mahogany */
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 202 77% 7%; /* rich-black */
    --foreground: 38 68% 81%; /* wheat */
    --card: 175 41% 16%; /* dark-slate-gray */
    --card-foreground: 38 68% 81%;
    --popover: 175 41% 16%;
    --popover-foreground: 38 68% 81%;
    --primary: 38 68% 81%; /* wheat */
    --primary-foreground: 202 77% 7%; /* rich-black */
    --secondary: 175 41% 20%; /* slightly-lighter-dark-slate-gray */
    --secondary-foreground: 38 68% 81%; /* wheat */
    --muted: 175 41% 20%;
    --muted-foreground: 38 68% 71%;
    --accent: 22 100% 38%; /* mahogany */
    --accent-foreground: 38 68% 81%; /* wheat */
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 175 41% 25%;
    --input: 175 41% 25%;
    --ring: 22 100% 38%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
