@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 13% 94%; /* --antiflash-white */
    --foreground: 217 96% 11%; /* --oxford-blue */
    --card: 210 13% 94%;
    --card-foreground: 217 96% 11%;
    --popover: 210 13% 94%;
    --popover-foreground: 217 96% 11%;
    --primary: 232 85% 34%; /* --zaffre */
    --primary-foreground: 210 13% 94%; /* --antiflash-white */
    --secondary: 217 96% 11%; /* --oxford-blue */
    --secondary-foreground: 210 13% 94%;
    --muted: 210 13% 90%;
    --muted-foreground: 217 96% 25%;
    --accent: 46 83% 60%; /* --saffron */
    --accent-foreground: 0 0% 8%; /* --night */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 13% 85%;
    --input: 210 13% 85%;
    --ring: 46 83% 60%; /* --saffron */
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 8%; /* --night */
    --foreground: 210 13% 94%; /* --antiflash-white */
    --card: 0 0% 8%;
    --card-foreground: 210 13% 94%;
    --popover: 0 0% 8%;
    --popover-foreground: 210 13% 94%;
    --primary: 210 13% 94%;
    --primary-foreground: 0 0% 8%;
    --secondary: 217 96% 11%;
    --secondary-foreground: 210 13% 94%;
    --muted: 217 96% 11%;
    --muted-foreground: 210 13% 84%;
    --accent: 46 83% 60%; /* --saffron */
    --accent-foreground: 0 0% 8%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 96% 15%;
    --input: 217 96% 15%;
    --ring: 46 83% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
