@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 348 100% 99%; /* snow */
    --foreground: 180 5% 8%; /* night */
    --card: 348 100% 99%; /* snow */
    --card-foreground: 180 5% 8%; /* night */
    --popover: 348 100% 99%; /* snow */
    --popover-foreground: 180 5% 8%; /* night */
    --primary: 171 50% 40%; /* persian-green */
    --primary-foreground: 348 100% 99%; /* snow */
    --secondary: 75 5% 16%; /* jet */
    --secondary-foreground: 348 100% 99%; /* snow */
    --muted: 170 64% 89%; /* lighter tiffany-blue */
    --muted-foreground: 180 5% 28%; /* darker night */
    --accent: 170 64% 69%; /* tiffany-blue */
    --accent-foreground: 180 5% 8%; /* night */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 170 64% 85%;
    --input: 170 64% 90%;
    --ring: 171 50% 40%; /* persian-green */
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 180 5% 8%; /* night */
    --foreground: 348 100% 99%; /* snow */
    --card: 180 5% 8%; /* night */
    --card-foreground: 348 100% 99%; /* snow */
    --popover: 180 5% 8%; /* night */
    --popover-foreground: 348 100% 99%; /* snow */
    --primary: 170 64% 69%; /* tiffany-blue */
    --primary-foreground: 180 5% 8%; /* night */
    --secondary: 75 5% 16%; /* jet */
    --secondary-foreground: 348 100% 99%; /* snow */
    --muted: 75 5% 22%; /* lighter jet */
    --muted-foreground: 348 100% 89%; /* darker snow */
    --accent: 171 50% 40%; /* persian-green */
    --accent-foreground: 348 100% 99%; /* snow */
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 75 5% 26%;
    --input: 75 5% 26%;
    --ring: 170 64% 69%; /* tiffany-blue */
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
